/* add css module styles here (optional) */

.btn {
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  box-shadow: none;
  border-style: none;
}

.btn--primary-color {
  background-color: rgb(21, 128, 0);
}

.btn--secondary-color {
  background-color: rgb(0, 104, 145);
}